{% extends 'porfolio/base.html.twig' %}

{% block title %}
Mon CV
{% endblock %}

{% block myStylesheets %}
{% endblock %}

{% block titreBar %} MON BEAU CV DE NOEL  {% endblock %}

{% block workSpace %}

    <h2> mon CV</h2>
    <h3> mes etudes</h3>
        <ul>
            <li>maternelle</li>
            <li>élémentaire</li>
            <li>collège</li>
        </ul>
    <h3> mom parcours</h3>
        <ul>
            <li>stage piscine</li>
            <li>ministre</li>
            <li>taulard</li>
            <li>balayeur</li>
        </ul>
    <h3> ma vie mon oeuvre</h3>
        <ul>
            <li>mon joli dessin d'un oiseau</li>
            <li>mes poemes secrets</li>
            <li>la Philosophie du paysan rebelle</li>
            <li>ma retraite</li>
        </ul>

{% endblock %}
